.bgblur2 {
    background-color: #2b71a5db;
    background-size: cover;
    position: fixed;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: 1;
    animation: headerimgcandidat 20s linear infinite;
    animation-delay: 0s;
    background-size: cover;
    transition: opacity 1s ease-in-out;
    }
    @keyframes headerimgcandidat {
        0% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(escalier.jpeg) no-repeat fixed center;
            background-size: cover;
            opacity: 1;
          
            }
        3% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(escalier.jpeg) no-repeat fixed center;
            background-size: cover;
                opacity: 1;
              
                }
        30% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(chemin.jpeg) no-repeat fixed center;
            background-size: cover;
            opacity: 1;
            color:white;
            }
        65% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(rail.jpeg) no-repeat fixed center;
            background-size: cover;
            opacity: 1;
            color: inherit;
            }
        
        100% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(escalier.jpeg) no-repeat fixed center;
            background-size: cover;
            opacity: 1;
            color: inherit;
    
            } 
      }
    
     
      .mybuttons{
          
          top:40vh;
          height: 5vh;
          width: 100vw;         
            .buttoncreer{
            z-index: 3;
            position: absolute;
            top:40vh;
            left: 25%;   
            padding: 25px 20px;
            background-color: #00000082;
            border: solid white 2px;
            box-shadow: 2px 2px 2px #0000004a;
            transition: all .8s cubic-bezier(.5,-.75,.7,2);
            animation-name: btn;
            animation-duration: 2.5s;
            display: block;
            width: 22vw;
            &:hover{ 
                top: 38vh;
                background-color: #ff0000c2;
               }
            h1{
                font-size: 35px;
                color:white;
                font-weight: lighter;
            }
            }
            .buttonconnexion{
            z-index: 3;
            position: absolute;
            top:40vh;
            right: 25%;   
            padding: 25px 20px;
            background-color: #00000082;
            border: solid white 2px;
            box-shadow: 4px 2px 2px #0000004a;  
            transition: all .8s cubic-bezier(.5,-.75,.7,1);
            animation-name: btn;
            animation-duration: 2.5s;
             display: block;
             width: 22vw;
                &:hover{ 
                    top: 38vh;
                    background-color: #008000d6;
                }
                
                h1{
                    font-size: 35px;
                    color:white;
                    font-weight: lighter;
                }
            }
            @keyframes btn {
                0%{
                    top:-10vh;
                    
                }
                70%{
                    top: 45vh;
                  
    
    
                }
                100%{
                    top:40vh;
            
                }
            }
       }
      .creer {
        position: absolute;
        top: 20%;
        // left: 20%;
        left: -50%;
        background-color: #000000b0 !important;
        padding: 20px 15px;
        box-shadow: 6px 7px 8px #0000004a; 
        border-radius: 2%;
        height: 75vh;
        width: 50vh;
        transition: all .7s cubic-bezier(.22,.68,0,1.31);
        display: block;
        p{
            font-size: 30px;
            color: white;
            margin-bottom: 5vh;
        }
        label{
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                text-shadow: 1px 1px 1px #00000057;
                font-size: 15px;
            }
        input
            {
                background: none !important;
                border: none;
                border-bottom: 2px solid white;
                margin-bottom: 40px;
                color: white;
                font-size: 15px;
            }
            textarea:focus, input:focus{
                outline: none;
                
            }
            *:focus {
                outline: none;
            }
            // input color when you finish to write your email
            input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 1000px inset;
            -webkit-text-fill-color: #a9a9a9 !important;
            -webkit-background-origin: none;
            } 
        }
    //     .manav:hover + .bgblur2 {
    //         -webkit-filter: blur(5px); 
    //        filter: blur(5px);
    //        transition: .3s;
    //    }
        .connexion {
            position: absolute;
            top: 20%;
            // right: 20%;
            right: -50%;
            background-color: #000000b0 !important;
            padding: 20px 15px;
            box-shadow: 6px 7px 8px #0000004a;
            border-radius: 2%;
            height: 75vh;
            width: 50vh; 
            transition: all .7s cubic-bezier(.22,.68,0,1.31);
            display: block;
            p{
                font-size: 30px;
                color: white;
                margin-bottom: 5vh;
            }
            span i {
                color: white;
                font-size: 100px;
                margin-bottom: 5vh;
            }
            label{
                    color: white;
                    font-weight: bold;
                    letter-spacing: 1px;
                    text-shadow: 1px 1px 1px #00000057;
                    font-size: 15px;
                }
            input
                {
                    background: none !important;
                    border: none;
                    border-bottom: 2px solid white;
                    margin-bottom: 40px;
                    color: white;
                    font-size: 15px;
                }
                textarea:focus, input:focus{
                    outline: none;
                    
                }
                *:focus {
                    outline: none;
                }
                // input color when you finish to write your email
                input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px inset;
                -webkit-text-fill-color: #a9a9a9 !important;
                -webkit-background-origin: none;
            }
        }
        button{
            background-color: #2b71a5!important;
            border: none;
            color: white;
            font-weight: bold;
            font-weight: bold;
            padding: 5px 30px;
            border-radius: 4%;
        }
