body{
    @media (max-width: 575px)  {
        h1 {
        top: 30vh;
        letter-spacing: 5px;
        font-weight: bold;
        font-size: 36px;
        animation-name: none;
        font-weight: lighter;
        }
    }
            h2 {
                max-width: 86vw;
                position: absolute;
                top: 70vh;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: lighter;
                text-shadow: 1px 2px 1px #00000057;
                color: white;
                font-sie: 10px;
                font-size: 20px !important;
            }
            a i {
            display: none;
            }
        }
    }
}