$finalHeight: 250px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}
@import "candidats";
@import "recruteurs";
@import "offre";
// @import "media";
body {
    overflow-x: hidden;
    height: 200vh;
    color: #212529cf !important;
    position: relative;
    .manav{
     
        z-index: 1001;
        margin: 0 !important;
        padding: 0 !important;
    }
    nav{
        z-index: 3; 
    }
    .navbar-brand{ 
        i{ 
            font-size: 40px !important;      
        }
    }
    .bg-light {
        background-color: #2b71a5!important;
        box-shadow: 2px 2px 3px #00000021;
    }
    .navbar-light .navbar-brand {
        color: rgba(255, 255, 255, 0.83);
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color: rgb(234, 234, 234);
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #5acdf3 !important;
    }
    .navbar-light .navbar-nav .nav-link{
        color: rgba(255, 255, 255, 0.72);
    }
    .nav-item{
        padding: 10px;
        a{
            font-size: 20px;
        }
    }
    .nav-item i{
        color: rgba(255, 255, 255, 0.72);
        font-size: 20px;
    }
    .manav:hover + #bg-blur-all {
         -webkit-filter: blur(5px); 
        filter: blur(5px);
        transition: .3s;
    } 
    .scroll-help-home{
        text-decoration: none;
            z-index: 1001;
            position: fixed;
            top: 40vh;
            right: 2vw;
            // transition: 1s ease-in;
            transition: all 1s cubic-bezier(.5,-.75,.7,2);
        a{
            i{
                font-size: 20px;
                color: #59e64b;
              } 
        }
    }
    .scroll-help{
        text-decoration: none;
            z-index: 1001;
            position: fixed;
            top: 45vh;
            right: 2vw;
            transition: all 1s cubic-bezier(.5,-.75,.7,2);
        a{
            i{
                font-size: 20px;
                color: #59e64b;
              }
        }
    }
    .scroll-help2{
        text-decoration: none;
            z-index: 1001;
            position: fixed;
            top: 50vh;
            right: 2vw;
            transition: all 1s cubic-bezier(.5,-.75,.7,2);
        a{
            i{
                font-size: 20px;
                color: #59e64b;
               }
        }
    }
    .scroll-help3{
        text-decoration: none;
            z-index: 1001;
            position: fixed;
            top: 55vh;
            right: 2vw;
            transition: all 1s cubic-bezier(.5,-.75,.7,2);
        a{
            i{
                font-size: 20px;
                color: #59e64b;
               }
        }
    }
    .bgblur {
        background-color: #2b71a5db;
        background-size: cover;
        position: fixed;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        z-index: 1;
        animation: headerimg 20s linear infinite;
        animation-delay: 0s;
        // background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(meeting.jpeg) no-repeat fixed center;
        background-size: cover;
        transition: opacity 1s ease-in-out;
        }
    
    header {
        position: fixed;
        z-index: 2;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0; 
        right: 0;
        h1{
            position: absolute;
            top: 30vh;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: bold;
            font-size: 4.5rem;
            box-shadow: 0px 2px 0px #00000021;
            text-shadow: 1px 2px 1px #00000057;
            animation-name: title;
            animation-duration: 2s;
            background-color: #2b71a5;
            padding: 5px 50px;
            color: #ffffffd1;
            opacity: 1;
            &:hover {
                letter-spacing: 7px;
                color: snow;
                transition: 1s;
                text-shadow: 3px 5px 2px #00000057;
            }
            
            @keyframes title {
                0%{
                    opacity: 0;
                    font-size: 1rem;
                    letter-spacing: 20px;
                    color: #2b71a5;
                }
                50%{
                    opacity: .5;
                    font-size:2.5rem;
                    letter-spacing: 10px;
                    color:#94c3c1e8;


                }
                100%{
                  opacity: 1;
                    font-size: 4.5rem;
                    letter-spacing: 5px;
                }
            }
        }

        h2{
        max-width: 59vw;
        position: absolute;
        top: 60vh;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: lighter;
        text-shadow: 1px 2px 1px #00000057;
        color:white;
        }
        
        a{
            i{
                position: absolute;
                top: 90vh;
                font-size: 50px;
                color: #ffffffb5;
            }
        }
}
@keyframes headerimg {
    0% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(meeting.jpeg) no-repeat fixed center;
        background-size: cover;
        opacity: 1;
      
        }
    3% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(meeting.jpeg) no-repeat fixed center;
        background-size: cover;
            opacity: 1;
          
            }
    30% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(run.jpg) no-repeat fixed center;
        background-size: cover;
        opacity: 1;
        color:white;
        }
    55% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(cascade.jpeg) no-repeat fixed center;
        background-size: cover;
        opacity: 1;
        color: inherit;
        }
    80% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(event.jpeg) no-repeat fixed center;
        background-size: cover;
        opacity: 1;
        color:white;
        }
    
    100% {background: linear-gradient(0.25turn, rgba(29, 148, 38, 0.19), rgba(0, 232, 255, 0.22)), url(meeting.jpeg) no-repeat fixed center;
        background-size: cover;
        opacity: 1;
        color: inherit;

        } 
  }

.masection1:hover{

 filter:brightness(0px);
  transition: blur .10ms linear;
}

.masection1{
    position: relative;
    top: 100vh;
    height: 110vh;
    background-color: white;
    z-index: 1000;
    filter: brightness(5px);
    
    h3{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: lighter;
        font-size: 3rem;
        margin: 0px !important;
        }
        p{
            font-size: 2rem;
        }
        .mycarousel {
            height: 70vh;
            overflow: hidden;
            margin-top: 5px;
            // margin-right: -100vw;
        }
       
         
        
        .carousel-item {
            p{
                background-color: #4c5053;
                margin: 0;
                color: white;
                letter-spacing: 5px;
                font-weight: lighter;
            }
        }

        a{
            text-decoration: none;
            i{
                font-size: 50px;
                color: #2b71a5;
                margin-top: 30px;
            }
        }
}

.masection2 {
    position: relative;
    top: 100vh;
    height: 100vh;
    background: url(womanmen.jpg) no-repeat center;
    background-size: cover;
    z-index: 1000;    
    h3{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 900;
        font-size: 3rem;
        padding-top: 15px !important;
        margin: 0;
        color: white;
        text-shadow: 1px 2px 1px #00000057;
        background-color: #2b71a5db;
        width: 100vw;
        height: 12vh;
    }
    .textsection2{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: lighter;
        font-size: 30px;
        margin: 0px !important;
        padding: 10px !important;
        color: white;
        text-shadow: 1px 2px 1px #00000057;
        background-color: #2b71a5db;
        width: 100vw;
        height: 12vh;
    }
    .f-left{
    a{
        text-decoration: none;
        position: absolute;
        top: 45vh;
        i{
            font-size: 40px; 
            color: #2b71a5;
        }
    }
    }
    .f-right{
        a{
            text-decoration: none;
            position: absolute;
            top: 55vh;
            i{
                font-size: 40px; 
                color: #2b71a5;
            }
        }
    }
    .card1{
        position: absolute;
        top: 40vh;
        left: -50vw;
        height:50vh;
        width: 20vw;
        background-color: #006cbbba;
        box-shadow: 5px 5px 3px #00000021;
        transition: all 2.5s cubic-bezier(.22,.68,0,1.20);
        &:hover {
            top: 39vh;
            box-shadow: 10px 10px 3px #00000021;
            transition: .3s;
        }
            
        h4{
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: bold;
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: -15px;
            padding: 10px !important;
            color:white;
        }
        h5{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: lighter;
        font-size: 15px;
        margin-top: 10px;
        padding: 10px !important;
        color:white;
        }
        .imgcard1{
            background: url(art.jpg);
            background-size: cover;
            height: 35vh;
            width: 20vw;
        }
    }
    .card2{
        position: absolute;
        top: 40vh;
        right: -50vw;
        height:50vh;
        width: 20vw;
        background-color: #00801dc9;
        box-shadow: 5px 5px 3px #00000021;
        transition: all 2.5s cubic-bezier(.22,.68,0,1.20);
        &:hover {
            top: 39vh;
            box-shadow: 10px 10px 3px #00000021;
            transition: .3s;
        }
    }
    h4{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: -15px;
        padding: 10px !important;
        color:white;
    }
    h5{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: lighter;
        font-size: 15px;
        margin-top: 10px;
        padding: 10px !important;
        color:white;
        }
    .imgcard2{
        background: url(ceo.jpeg);
        background-size: cover;
        height: 35vh;
        width: 20vw;
    }
    a{
        text-decoration: none;
        position: absolute;
        top: 90vh;
        i{
            font-size: 50px;
            color: #2b71a5;
            margin-top: 15px;
        }
    }
}
.masection3{
    position: relative;
    top: 100vh;
    height: 100vh;
    background-color:white;
    background-size: cover;
    z-index: 1000;  
    text-align: center;
    a{
        text-decoration: none;
        
       i{
            font-size: 50px; 
            color: #2b71a5;
            padding-top: 3vh;
        }
    }

    #container {
        color: #999;
        text-transform: uppercase;
        font-size: 47px;
        font-weight: bold;
        padding-top: 10vh;
        letter-spacing: 5px;
        position: relative; 
        width: 100%;
        bottom: 0%;
        display: block;
        // margin-bottom: 50px;
        height: 50vh;
    
      }
      
      #flip {
        height:70px;
        overflow:hidden;
      }
       
      #flip > div > div {
        color: #fff;
        padding: 0px 30px;
        height: 67px;
        margin-bottom: 22px;
        display: inline-block;
      }
      
      #flip div:first-child {
        animation: show 5s linear infinite;
      }
      
      #flip div div {
        background:#42c58a;
      }
      #flip div:first-child div {
        background:#2b71a5;
      }
      #flip div:last-child div {
        background:#DC143C;
      }
      
      @keyframes show {
        0% {margin-top:-270px;}
        5% {margin-top:-180px;}
        33% {margin-top:-180px;}
        38% {margin-top:-90px;}
        66% {margin-top:-90px;}
        71% {margin-top:0px;}
        99.99% {margin-top:0px;}
        100% {margin-top:-270px;}
      }
      h6{
        position: absolute;
        width:100%;
        bottom:35vh;
        font-size:2rem;
        color:#999;
        font-weight: 3rem;
        &:hover{
            color: white;
        }
      } 
      .address{
        position: absolute; 
        left: 10vw;
          p{
        font-size: 1rem;
        color:#999; 
        &:hover{
            color: white;
        }
    }
      }
      .reseaux{
          position: absolute;
          bottom: 15vh;
          img{
              height: 60px;
              width: 65px;
              margin: 30px;
          }
      }
      .liens{
        position: absolute; 
        right: 10vw;
        p{
          a{
              text-decoration: none;
              color:#999; 
              &:hover{
                  color: white;
              }
            }
          }
      }
      
      .acroche {
        position: absolute;
        width:100%;
        bottom:30px;
        font-size:12px;
        color:#999;
        margin-top:30px;
      }
      .imgcontact{
        background: url(contact.jpeg) no-repeat center;
        height: 100vh;
        width: 100vw;
        opacity: 0.15;
      }
      footer{

        height: 50vh;
        background-size: cover;
        background-position: center;
        background-color: #000000;
        text-align: center;
      }   
    }
   
}
